# IDE related
/.vscode
/.idea
/.DS_Store
*.suo 
*.user 
*.csproj.user

# build artifacts
/app/backend/bin
/app/backend/build
/app/frontend/bin
/app/frontend/build
/app/AI/bin
/app/AI/build
*.o
*.out
*.exe

# dataset files
/data_gathering/dataset/fma_medium
/data_gathering/dataset/fma_spectrograms
*.zip
*.csv